<h2 class="ui center aligned icon header">
  <i class="circular comment outline icon"></i>
  Message Me
</h2>

<div class="bg-img">
<div class="ui centered grid">
  <div class="computer only row">
    <div class="six wide tablet eight wide computer column">
      <%= render 'form' %>
      <div class="column"></div>
      <div class="column"></div>
   </div>
  </div>
</div>
</div>
