<h2 class="ui center aligned icon header">
  <i class="circular comment outline icon"></i>
  Message Me
</h2>

<div class="ui middle aligned divided list">
  <% f = @user.friendships + @user.inverse_friends %>
  <% for friendship in @user.friendships %>
  <div class="item">
    <div class="right floated content">
      <div>
        <%= link_to 'Unfriend', friendship, :method => :delete, class: "ui button" %>
      </div>  
    </div>
    <div class="content" name="username_txt">
      <%= friendship.friend.username %>
    </div>
  </div>
  <% end %>
</div>

