<h2 class="ui center aligned icon header">
  <i class="circular comment outline icon"></i>
  Message Me
</h2>

<div class="ui middle aligned divided list">
  <% @friendships.each do |friend| %>
  <div class="item">
    <div class="right floated content">
      <div class="ui button">Add</div>
    </div>
    <%=  %>
    <div class="content">
      <%= friend.username %>
    </div>
  </div>
  <% end %>
</div>
