<div class="ui inverted vertical menu">
  <a class="item">
    Chatroom
  </a>
  <div class="ui left pointing dropdown link item">
    <i class="dropdown icon"></i>
    Account
    <div class="menu">
      <div class="item">Login</div>
      <div class="item">Logout</div>
      <div class="item">Sign up!</div>
    </div>
  </div>
</div>
